<mat-toolbar color="primary" class="ECTEMPLATE-fixed-header">
  <mat-toolbar-row>
    <div class="container">
      <div fxLayoutAlign="space-between">
        <div class="logo-site">
          <ECTEMPLATE-AppLogo></ECTEMPLATE-AppLogo>
        </div>
        <ECTEMPLATE-Menu></ECTEMPLATE-Menu>
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
